{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Edit Product</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        {{ form_row(form.categories) }}

        <button class="btn btn-primary mt-3">Update</button>
        <a href="{{ path('app_product_index') }}" class="btn btn-secondary mt-3">Back</a>
    {{ form_end(form) }}
</div>
{% endblock %}
